/* Styles here */
.card-container {
    cursor: pointer;
    position: relative;
    height: 5rem;
    width: 5rem;
  }

  .row {
      display: flex;
      padding-top: 5rem;
      padding-right: 2rem;
      padding-left: 2rem;
  }